<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Design.com | Re-image The World</title>
  <script src="https://cdn.tailwindcss.com"></script>

  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>

</head>
<body   >
  
  <div class="cursor translate-x-[-50%] translate-y-[-50%] flex items-center justify-center z-[2] fixed scale-0 rounded-[50%] mouse w-[15px] h-[16px] bg-white mix-blend-difference">

  </div>
<!-- <div  class="loader fixed w-[100%] h-[100vh] bg-[#3c3c3c] z-[444444]">
  <img class="rotate-[-45deg] w-[40vw] absolute top-[-3%] left-0" src="/images/image-removebg-preview.png" alt="">
 
    <img class="rotate-[-45deg] w-[30vw] absolute right-[0%] bottom-0 " src="/images/1000_F_583904602_e4vKuuLUq6T70aTERzGkelKQotxJMcGm-removebg-preview.png" alt="">
    <div class="hello absolute top-[50%] left-[50%] translate-x-[-50%] font-[gilroy] font-bold translate-y-[-50%] flex gap-[2vw] text-white text-[4vw]">
  <h1 class=" text-white  ">CREATIVITY</h1>
  <h1>MEETS</h1>
  <h1>ART</h1>
</div>
<div class="absolute left-5 bottom-5 text-white font-[gilroy]">
<h5 class="percent"></h5>

</div>
<div class="line w-[0%] h-[10px] rounded-tr-[100px] rounded-br-[100px] absolute bottom-0 bg-[#50adff] ">
  
</div>
</div> -->
<div  class="nav z-[32] top-0 left-0 fixed flex px-[5vw] py-[3vw] text-[3vw] justify-between w-[100%]  items-center">
  <a href="/"><img class="w-[7.5vw] king" src="/images/2ewwe.png" alt=""></a>
  <i  class="king ri-menu-3-line cursor-pointer relative text-white love"></i>
 
</div>
<div class="side-bar  flex items-center justify-center   h-[100vh] bg-[white] fixed right-[-100%] top-0   z-[344432413414] text-black">


  <i  class=" z-[100]  ri-close-fill mx-[5vw] pt-[5vw]  text-[4vw] love right-[0%] top-[0%] absolute cursor-pointer  "></i>
  <img  class="w-[20vw] z-[1] absolute top-[-5%] left-0" src="https://img.freepik.com/free-vector/colorful-paint-splashes_1035-7496.jpg?size=338&ext=jpg&ga=GA1.1.1141335507.1717372800&semt=ais_user" alt="">

  <div class="area  relative z-[60]  text-black text-[4vw] font-[gilroy] font-[500]">
<div><h1 class="  for-all relative   underline-offset-[5vw] inline-block"><a href="/">Home</a> <div class="phool absolute bottom-[0%] left-[50%] translate-x-[-50%] w-[0%] h-[5%] bg-black "></div></h1></div>
<div><h1 class="  for-all relative   underline-offset-[5vw] inline-block"><a href="/">About </a>  <div class="phool absolute bottom-[0%] left-[50%] translate-x-[-50%] w-[0%] h-[5%] bg-black "></div></h1></div>
<div><h1 class="  for-all relative   underline-offset-[5vw] inline-block"><a href="/">Team </a>  <div class="phool absolute bottom-[0%] left-[50%] translate-x-[-50%] w-[0%] h-[5%] bg-black "></div></h1></div>
<div><h1 class="  for-all relative   underline-offset-[5vw] inline-block"><a href="/">Contact </a>  <div class="phool absolute bottom-[0%] left-[50%] translate-x-[-50%] w-[0%] h-[5%] bg-black "></div></h1></div>

  </div>
  <div class="absolute bottom-[6%] flex flex-col items-center left-[6%]">
<h4>Have Some Questions</h4>
<h4 class="z-[60] underline for-all relative decoration-slate-300 underline-offset-[5px]"><a href="">Email Us <div class="phool absolute bottom-[0%] left-[50%] translate-x-[-50%] w-[0%] h-[5%] bg-black "></div></a></h4>

  </div>
</div>













<div  class="main z-1 relative bg-[#1e1e1e] w-[100%] min-h-[100vh]  text-white">
  <div class="page1 overflow-hidden   w-[100%]  flex items-center justify-center">
   <div class="text-[#4A87C6] wow text-[3vw] font-[gilroy] hacker text-center font-semibold relative">
  <h1>"Transforming Ideas into Stunning Visuals</h1>
  
  <h1 class="">Where Creativity Meets Precision "</h1>
  <h5 class="absolute right-0 text-[1vw] font-thin ">-WASAY WASEEM-</h5>
  <button class="btn king text-white text-[1.5vw] overflow-hidden relative rounded-md border-white border-[1px] px-[2vw] py-[1vw] font-medium   top-[5vw]"  ><a class="relative z-50" href="">DIVE IN THE CREATIVITY</a></button>
   </div>
  </div>
  <div class="page2 px-[5vw] relative overflow-hidden   w-[100%] h-[100vh] flex items-center justify-center">
  <div class="vid-wrap w-[40%] h-[100vh]">
    <div class="w-[100%] h-[100%] absolute z-[60]"></div>
    <video class="w-[100%] h-[100%] object-cover" src="/images/vudeo.mp4" autoplay loop muted></video>
  </div>
  </div>
<div  class="page3 relative w-[100%] min-h-[100vh] mt-[3vw] bg-[#2a2a2a]">
<div class="hr w-[60%] h-[0.1vh] rounded-tr-lg rounded-br-lg "></div>
<div class="for-wrap w-[100%] h-[100vh] pt-[5vw] px-[5vw] flex justify-between">
  <div class="para  flex flex-col gap-[4vw] items-start">
    <h1 class="chamkeela   text-[3.5vw] font-[gilroy] text-center font-semibold">About Us</h1>
    <p class="text-justify">Welcome to our Design hub, where artistry meets innovation under the exceptional leadership of Wasay Waseem. Our team of passionate graphic designers is dedicated to transforming ideas into visually stunning realities. With a keen eye for detail and a commitment to excellence, we specialize in crafting unique, impactful designs that resonate with audiences and elevate brands. Whether it's branding, digital art, or visual storytelling, we infuse every project with creativity and precision, ensuring your vision comes to life in the most compelling way possible. Join us on this artistic journey and experience the magic of exceptional graphic design.</p>
    <div class="nice w-[100%] flex justify-between">
      <a href="https://en.wikipedia.org/wiki/Logo" class="king  border-[#fffefe43] border-[1px] flex flex-col items-center justify-center gap-[2vw]">
        <i class="fa-solid fa-pen-nib text-[3vw]"></i>
        <h5 class=" whitespace-nowrap">LOGO DESIGNING</h5>
      </a>
      <a href="https://en.wikipedia.org/wiki/User_interface_design" class="king  border-[#fffefe43] border-[1px] flex flex-col items-center justify-center gap-[2vw]">
        <i class="fa-brands fa-figma text-[3vw]"></i>
        <h5 class=" whitespace-nowrap">UI DESIGNING</h5>
      </a>
      <a href="https://en.wikipedia.org/wiki/Creativity"  class="king  border-[#fffefe43] border-[1px] flex flex-col items-center justify-center gap-[2vw]">
        <i class="fa-solid fa-palette text-[3vw]"></i>
        <h5 class=" whitespace-nowrap">CREATIVITY</h5>
      </a>
   
    </div>
  </div>
  <div class="for-img  h-[100%]  rounded-[10px] overflow-hidden ">
    <img class="w-[100%] h-[100%] object-cover" src="/images/nwe.png" alt="">
  </div>
</div>

</div>
<div  class="page4 overflow-hidden relative w-[100%] min-h-[100vh]  bg-[#1E1E1E]">
<div class="hr absolute   right-[0%] top-[0%] z-[33] w-[60%] h-[0.1vh] rounded-tr-lg rounded-br-lg "></div>
<div class="naughty text-center pt-[5vw]">
  <h1 class="chamkeela  text-[3.5vw] font-[gilroy] text-center font-semibold ">OUR TEAM</h1>
  <h1 class=" text-[2vw] text-white font-[gilroy] text-center font-medium">The Reason Of Why We?</h1>

</div>

<div class="mt-[3vw] relative people  flex justify-between w-[100%]  px-[5vw] py-[2vw]">
<div class=" h-[100%] to-change flex flex-col gap-[4vw] items-start">
<div class="bestie">
  <h1 class="chamkeela text-[2vw] font-semibold">WASAY WASEEM</h1>
  <h1 class="text-[1.4vw] mt-[1vw]">CEO OF DESIGN HUB</h1>
</div>
  <p class="text-white text-justify leading-[2vw] ">As the CEO of Design Hub, I, Wasay Waseem, lead a dynamic team of creative professionals dedicated to transforming ideas into stunning visual realities. With a relentless passion for innovation and a keen eye for aesthetics, I have propelled Design Hub to the forefront of the graphic design industry. Our commitment to excellence and cutting-edge design solutions empowers businesses to stand out in a crowded marketplace, elevating their brand identity to new heights. Under my leadership, Design Hub doesn't just create designs; we craft visual experiences that captivate, inspire, and leave a lasting impact.</p>
  <div class="nice w-[100%] flex justify-between ">
    <a href="https://en.wikipedia.org/wiki/Logo" class="w-[32%] king h-[27vh] border-[#fffefe43] border-[1px] flex flex-col items-center justify-center gap-[2vw]">
      <i class="fa-solid fa-bezier-curve text-[3vw]"></i>
      <h5 class=" whitespace-nowrap">DESIGNER</h5>
    </a>
    <a href="https://en.wikipedia.org/wiki/User_interface_design" class="w-[32%] king h-[27vh] border-[#fffefe43] border-[1px] flex flex-col items-center justify-center gap-[2vw]">
      <i class="fa-solid fa-code text-[3vw]"></i>
      <h5 class=" whitespace-nowrap">CODER</h5>
    </a>
    <a href="https://en.wikipedia.org/wiki/Creativity"  class="w-[32%] h-[27vh] king border-[#fffefe43] border-[1px] flex flex-col items-center justify-center gap-[2vw]">
      <i class="fa-solid fa-people-group text-[3vw]"></i>
      <h5 class=" whitespace-nowrap">LEADER</h5>
    </a>
 
  </div>
</div>
<div class="for-none w-[45%] h-[100%]">
<div class="w-[40%]  overflow-hidden  good  relative  rounded-[10px] bg-slate-400 h-[40%] "><img class="absolute" src="/images/forwasay1.jpg" alt=""></div>
<div class="w-[60%] overflow-hidden good  relative rounded-[10px] z-10 bg-slate-400 h-[40%] top-[-10%] left-[30%]"><img class="absolute"  src="/images/wasaynew.jpg" alt=""></div>
<div class="w-[50%]  overflow-hidden good relative rounded-[10px] bg-slate-400 h-[40%] top-[-20%]"><img class="absolute object-cover w-[100%] h-[100%]"  src="/images/wasaynewwww2.jpg" alt=""></div>
</div>
<div class="hr bg-slate-100 absolute bottom-[0.1%] left-[50%]  translate-x-[-51%] w-[60%] h-[0.1vh] rounded-tr-lg rounded-br-lg "></div>
</div>
<div class="mt-[3vw] relative people  flex justify-between w-[100%] px-[5vw] py-[2vw]">
<div class=" h-[100%] to-change flex flex-col gap-[4vw] items-start">
<div class="bestie ">
  <h1 class="chamkeela text-[2vw] font-semibold">MR SHAHZAIB</h1>
  <h1 class="text-[1.4vw] mt-[1vw]">COO OF DESIGN HUB</h1>
</div>
  <p class="text-white text-justify leading-[2vw]">As the Chief Operating Officer of Design Hub, Mr. Shahzaib has redefined the landscape of graphic design. With a keen eye for detail and an unwavering commitment to innovation, he has transformed Design Hub into a powerhouse of creativity and excellence. Under his dynamic leadership, the company has consistently pushed the boundaries of design, delivering stunning visuals that captivate and inspire. Mr. Shahzaib's strategic acumen and passion for artistry have not only elevated the company's portfolio but also set new industry standards. His relentless pursuit of perfection and dedication to client satisfaction have cemented Design Hub's reputation as the go-to destination for cutting-edge graphic design solutions.

  </p>
  <div class="nice w-[100%] flex justify-between">
    <a href="https://en.wikipedia.org/wiki/Logo" class="king w-[32%] h-[27vh] border-[#fffefe43] border-[1px] flex flex-col items-center justify-center gap-[2vw]">
      <i class="fa-solid fa-hat-cowboy text-[3vw]"></i>
      <h5 class=" whitespace-nowrap">HACKER</h5>
    </a>
    <a href="https://en.wikipedia.org/wiki/User_interface_design" class="king w-[32%] h-[27vh] border-[#fffefe43] border-[1px] flex flex-col items-center justify-center gap-[2vw]">
      <i class="fa-solid fa-laptop-code text-[3vw]"></i>
      <h5 class=" whitespace-nowrap">CODER</h5>
    </a>
    <a href="https://en.wikipedia.org/wiki/Creativity"  class="king w-[32%] h-[27vh] border-[#fffefe43] border-[1px] flex flex-col items-center justify-center gap-[2vw]">
      <i class="fa-solid fa-user-secret text-[3vw]"></i>
      <h5 class=" whitespace-nowrap">DEBUGGER</h5>
    </a>
 
  </div>
</div>
<div class="for-none w-[45%] h-[100%]">
<div class="w-[40%]  overflow-hidden  good  relative  rounded-[10px] bg-slate-400 h-[40%] "><img class="absolute  w-[100%] h-[100%] object-cover  " src="/images/sh1.jpg" alt=""></div>
<div class="w-[60%] overflow-hidden good  relative rounded-[10px] z-10 bg-slate-400 h-[40%] top-[-10%] left-[30%]"><img class="absolute w-[100%] h-[100%] object-cover  "  src="/images/sh2.jpg" alt=""></div>
<div class="w-[50%]  overflow-hidden good relative rounded-[10px] bg-slate-400 h-[40%] top-[-20%]"><img class=" w-[100%] h-[100%] object-cover  absolute object-cover w-[100%] h-[100%]"  src="/images/sh3.jpg" alt=""></div>
</div>

</div>
<div class="enjoy flex items-center justify-center ">
  <button class="hr text-white py-[1vw] px-[2vw]  rounded-[100px] king">VIEW ALL MEMBERS OF OUR TEAM</button>
</div>


    </div>
    <div class="page5 relative px-[5vw]">
      <div class="hr w-[60%] h-[0.1vh] absolute left-[0%] rounded-tr-lg rounded-br-lg "></div>
      <div class="text-center naughty   flex flex-col items-center justify-center">
        <h1 class="chamkeela  text-[3.5vw] font-[gilroy] text-center font-semibold ">FAQ's</h1>
        <h1 class=" text-[2vw] text-white font-[gilroy] text-center font-medium">Some Questions That You Might Think?</h1>
      
      </div>
      <div class="boxes overflow-hidden w-[100%]  bg-[#2D2D2D] border-b-black m-[1vw]">
     <div class="in-box  w-[100%] items-center   justify-between flex px-[2vw]">
    <div class="text-[1.9vw] flex gap-[1vw]"  >
      <h1 class="chamkeela">01.</h1>
      <h1>What services does Design Hub offer?</h1>
    </div>
    <i class="relative z-[8394575] fa-solid fa-plus text-[2.5vw] text-white "></i>
    
     </div>
     <div class="below text-[1.8vw] flex gap-[1vw] px-[2vw] border-t-[1px] border-[#1E1E1E]">
      <h1 class="chamkeela">Ans:</h1>
      <p>We specialize in graphic design, including logos, branding, and digital illustrations.</p>
     </div>
      </div>
      <div class="boxes overflow-hidden w-[100%]  bg-[#2D2D2D] border-b-black m-[1vw]">
     <div class="in-box  w-[100%] items-center   justify-between flex px-[2vw]">
    <div class="text-[1.9vw] flex gap-[1vw]"  >
      <h1 class="chamkeela">02.</h1>
      <h1>Do you provide custom design services?</h1>
    </div>
    <i class="relative z-[8394575] fa-solid fa-plus text-[2.5vw] text-white "></i>
    
     </div>
     <div class="below text-[1.8vw] flex gap-[1vw] px-[2vw] border-t-[1px] border-[#1E1E1E]">
      <h1 class="chamkeela">Ans:</h1>
      <p>Yes, we offer fully customized design solutions tailored to your specific needs.
      </p>
     </div>
      </div>
      <div class="boxes overflow-hidden w-[100%]  bg-[#2D2D2D] border-b-black m-[1vw]">
     <div class="in-box   w-[100%] items-center   justify-between flex px-[2vw]">
    <div class="text-[1.9vw] flex gap-[1vw]"  >
      <h1 class="chamkeela">03.</h1>
      <h1>What is your turnaround time for design projects?</h1>
    </div>
    <i class="relative z-[8394575] fa-solid fa-plus text-[2.5vw] text-white "></i>
    
     </div>
     <div class="below text-[1.8vw] flex gap-[1vw] px-[2vw] border-t-[1px] border-[#1E1E1E]">
      <h1 class="chamkeela">Ans:</h1>
      <p>Turnaround time varies, but typically ranges from 5 to 10 business days.
      </p>
     </div>
      </div>
      <div class="boxes overflow-hidden w-[100%]  bg-[#2D2D2D] border-b-black m-[1vw]">
     <div class=" in-box  w-[100%] items-center   justify-between flex px-[2vw]">
    <div class="text-[1.9vw] flex gap-[1vw]"  >
      <h1 class="chamkeela">04.</h1>
      <h1>How can I request a quote for a project?</h1>
    </div>
    <i class="relative z-[8394575] fa-solid fa-plus text-[2.5vw] text-white "></i>
    
     </div>
     <div class="below text-[1.8vw] flex gap-[1vw] px-[2vw] border-t-[1px] border-[#1E1E1E]">
      <h1 class="chamkeela">Ans:</h1>
      <p>Visit our "Contact Us" page and fill out the quote request form.
      </p>
     </div>
      </div>
      <div class="boxes overflow-hidden w-[100%]  bg-[#2D2D2D] border-b-black m-[1vw]">
     <div class=" in-box  w-[100%] items-center   justify-between flex px-[2vw]">
    <div class="text-[1.9vw] flex gap-[1vw]"  >
      <h1 class="chamkeela">05.</h1>
      <h1>Are we teaching Graphics?</h1>
    </div>
    <i class="relative z-[8394575] fa-solid fa-plus text-[2.5vw] text-white "></i>
    
     </div>
     <div class="below text-[1.8vw] flex gap-[1vw] px-[2vw] border-t-[1px] border-[#1E1E1E]">
      <h1 class="chamkeela">Ans:</h1>
      <p>Yes, We have our main branch in Karachi that is teaching this art at top notch level.</p>
     </div>
      </div>
    
     
    </div>
    <div class="page6 mt-[4vw] bg-[#2A2A2A] w-[100%] relative  px-[5vw]">
      <div class="hr absolute   right-[0%] top-[0%] z-[33] w-[60%] h-[0.1vh] rounded-tr-lg rounded-br-lg "></div>
      <div class="naughty text-center h-[40vh]  flex flex-col items-center justify-center">
        <h1 class="chamkeela  text-[3.5vw] font-[gilroy] text-center font-semibold ">CONTACT US</h1>
        <h1 class=" text-[2vw] text-white font-[gilroy] text-center font-medium">Get in touch to transform your ideas into stunning designs.</h1>
      
      </div>
    <form class="flex justify-between flex-wrap"  action="/message" method="post">
      <input class="text-[#0080ff] pb-[1vw] inline-block w-[44%]" type="text" name="Name" placeholder="Name">
      <input class="pb-[1vw] text-[#0080ff]  inline-block w-[44%]" type="text " name="Email" placeholder="Email">
      <textarea  class="resize-none pb-[1vw] mt-[3vw] text-[#0080ff] inline-block w-[100%] " name="Message" placeholder="Enter Your Message Here"></textarea>
    <div class="flex justify-end w-[100%]">
      <input  class=" btn new z-[48327] king text-white  overflow-hidden relative rounded-md border-white border-[1px] px-[2vw] py-[1vw] font-medium   top-[5vw]" type="submit" name="" id="" value="Send Message">
    </div>
    </form>
    
    
    </div>
<div  class="page7 w-[100%]  flex items-center justify-center text-[13vw]">
  <div class="mover whitespace-nowrap overflow-x-auto font-[gilroy] font-bold">
  <div class="to-earn">
    <div class="inline-block">CREATIVITY MEETS WITH INNOVATION</div>
    <div class="utilize inline-block overflow-hidden relative h-[22vh] rounded-[50%] ">
      <img class="w-[100%] h-[100%] absolute" src="/images/Untitled-1.png" alt="">
    </div>
    <div class="inline-block">CREATIVITY MEETS WITH INNOVATION</div>
    <div class="utilize inline-block overflow-hidden relative h-[22vh] rounded-[50%] ">
      <img class="w-[100%] h-[100%] absolute" src="/images/Untitled-1.png" alt="">
    </div>
    <div class="inline-block">CREATIVITY MEETS WITH INNOVATION</div>
    <div class="utilize inline-block overflow-hidden relative h-[22vh] rounded-[50%] ">
      <img class="w-[100%] h-[100%] absolute" src="/images/Untitled-1.png" alt="">
    </div>
    <div class="inline-block">CREATIVITY MEETS WITH INNOVATION</div>
    <div class="utilize inline-block overflow-hidden relative h-[22vh] rounded-[50%] ">
      <img class="w-[100%] h-[100%] absolute" src="/images/Untitled-1.png" alt="">
    </div>
    <div class="inline-block">CREATIVITY MEETS WITH INNOVATION</div>
    <div class="utilize inline-block overflow-hidden relative h-[22vh] rounded-[50%] ">
      <img class="w-[100%] h-[100%] absolute" src="/images/Untitled-1.png" alt="">
    </div>
   
  </div>
  </div>
</div>
<footer class="  w-[100%] flex justify-between relative h-[80vh] bg-[#2A2A2A]">
  <div class="hr absolute  left-0-[0%] top-[0%] z-[33] w-[60%] h-[0.1vh] rounded-tr-lg rounded-br-lg text-white"></div>
<div class="at-last  flex items-center justify-center flex-col gap-[2vw]">
  <img class="w-[30%]" src="/images/2ewwe.png" alt="">
<h4>  @CopyRight Design Hub 2024</h4>
<h4 class="underline king cursor-pointer relative z-[3424] yss">Mail Us:</h4>
</div>
<div class=" the-last items-center flex ">
<div class="flex content gap-[4vw]">
  <div class="big flex flex-col">

    <h1 class="mb-[2vw]  ">USEFUL LINKS:</h1>
    <a href="">Careers</a>
    <a href="">Investors</a>
  <a href="">Suppliers</a>
  <a href="">Latest news</a>
  <a href="">E-Services login</a>
  <a href="">Auditor hotline</a>
  <a href="">Global contacts</a>
  </div>
  <div class="big flex flex-col">
  
    <h1 class="mb-[2vw]">SITE INFORMATION:</h1>
    <a href="">Cookie notices</a>
    <a href="">Scam and fraud alert</a>
      <a href="">Terms and conditions</a>
        <a href="">Privacy statement</a>
          <a href="">Accessibility</a>
            <a href="">Sitemap</a>
  </div>
<div class="yws">
  <i class="fa-brands fa-instagram p-[1vw] king z-[3424] relative  rounded-[50%] border-white border-[1px]"></i>
  <i class="fa-brands fa-x-twitter p-[1vw] king z-[3424] relative rounded-[50%] border-white border-[1px] ml-[1vw]"></i>
  <i class="fa-brands fa-youtube p-[1vw] king z-[3424] relative rounded-[50%] border-white border-[1px] ml-[1vw]"></i>
</div>

</div>

</div>

</footer>

</div>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/javascripts/script.js"></script>
</body>
</html>