<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Design.com | Re-image The World</title>
  <script src="https://cdn.tailwindcss.com"></script>

  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>

</head>
<body   >
  
  <div class="cursor translate-x-[-50%] translate-y-[-50%] flex items-center justify-center z-[2] fixed scale-0 rounded-[50%] mouse w-[15px] h-[16px] bg-white mix-blend-difference">

  </div>
  <div  class="nav z-[32] top-0 left-0 fixed flex px-[5vw] py-[3vw] text-[3vw] justify-between w-[100%]  items-center">
    <a href="/"><img class="w-[7.5vw] king" src="/images/2ewwe.png" alt=""></a>
    <i  class="king ri-menu-3-line cursor-pointer relative text-white love relative z-444"></i>
   
  </div>
  <div class="side-bar flex items-center justify-center  h-[100vh] bg-[white] fixed right-[-100%] top-0   z-[344432413414] text-black">


    <i  class=" z-[100]  ri-close-fill mx-[5vw] pt-[5vw]  text-[4vw] love right-[0%] top-[0%] absolute cursor-pointer  "></i>
    <img  class="w-[20vw] z-[1] absolute top-[-5%] left-0" src="https://img.freepik.com/free-vector/colorful-paint-splashes_1035-7496.jpg?size=338&ext=jpg&ga=GA1.1.1141335507.1717372800&semt=ais_user" alt="">
  
    <div class="area  relative z-[60]  text-black text-[4vw] font-[gilroy] font-[500]">
  <div><h1 class="  for-all relative   underline-offset-[5vw] inline-block"><a href="/">Home</a> <div class="phool absolute bottom-[0%] left-[50%] translate-x-[-50%] w-[0%] h-[5%] bg-black "></div></h1></div>
  <div><h1 class="  for-all relative   underline-offset-[5vw] inline-block"><a href="/">About </a>  <div class="phool absolute bottom-[0%] left-[50%] translate-x-[-50%] w-[0%] h-[5%] bg-black "></div></h1></div>
  <div><h1 class="  for-all relative   underline-offset-[5vw] inline-block"><a href="/">Team </a>  <div class="phool absolute bottom-[0%] left-[50%] translate-x-[-50%] w-[0%] h-[5%] bg-black "></div></h1></div>
  <div><h1 class="  for-all relative   underline-offset-[5vw] inline-block"><a href="/">Contact </a>  <div class="phool absolute bottom-[0%] left-[50%] translate-x-[-50%] w-[0%] h-[5%] bg-black "></div></h1></div>
  
    </div>
    <div class="absolute bottom-[6%] flex flex-col items-center left-[6%]">
  <h4>Have Some Questions</h4>
  <h4 class="z-[60] underline for-all relative decoration-slate-300 underline-offset-[5px]"><a href="">Email Us <div class="phool absolute bottom-[0%] left-[50%] translate-x-[-50%] w-[0%] h-[5%] bg-black "></div></a></h4>
  
    </div>
  </div>
<!-- <div  class="loader fixed w-[100%] h-[100vh] bg-[#3c3c3c] z-[444444]">
  <img class="rotate-[-45deg] w-[40vw] absolute top-[-3%] left-0" src="/images/image-removebg-preview.png" alt="">
 
    <img class="rotate-[-45deg] w-[30vw] absolute right-[0%] bottom-0 " src="/images/1000_F_583904602_e4vKuuLUq6T70aTERzGkelKQotxJMcGm-removebg-preview.png" alt="">
    <div class="hello absolute top-[50%] left-[50%] translate-x-[-50%] font-[gilroy] font-bold translate-y-[-50%] flex gap-[2vw] text-white text-[4vw]">
  <h1 class=" text-white  ">CREATIVITY</h1>
  <h1>MEETS</h1>
  <h1>ART</h1>
</div>
<div class="absolute left-5 bottom-5 text-white font-[gilroy]">
<h5 class="percent"></h5>

</div>
<div class="line w-[0%] h-[10px] rounded-tr-[100px] rounded-br-[100px] absolute bottom-0 bg-[#50adff] ">
  
</div>
</div> -->

<div class="main killer relative z-[0] bg-[#1e1e1e] px-[5vw] pt-[5vw] overflow-hidden">
  

    
<h1 class="differ absolute top-[30%] text-white text-[1.5vw] underline underline-offset-4"><a href="/">Go Back To Home</a></h1>
<%if(name==="" && email==="" && message===""){%>
<h1 class="text-white w-[50%] text-center left-[50%] translate-x-[-50%] translate-y-[-50%] absolute top-[50%] ">PLEASE PROVIDE ALL OF INFORMATION MENTIONED IN CONTACT </h1>
<%} else if(name==="" && email==="") {%>
  <h1 class="text-white w-[50%] text-center left-[50%] translate-x-[-50%] translate-y-[-50%] absolute top-[50%] ">PLEASE MENTION YOUR NAME WITH AN EMAIL</h1>
  <%} else if(message==="" && name==="") {%>
    <h1 class="text-white w-[50%] text-center left-[50%] translate-x-[-50%] translate-y-[-50%] absolute top-[50%] ">PLEASE MENTION YOUR MESSAGE WITH YOUR NAME</h1>
    <%} else if(message==="" && email==="") {%>
      <h1 class="text-white w-[50%] text-center left-[50%] translate-x-[-50%] translate-y-[-50%] absolute top-[50%] ">PLEASE MENTION YOUR MESSAGE WITH YOUR EMAIL</h1>
<%} else if(name==="") {%>
  <h1 class="text-white w-[50%] text-center left-[50%] translate-x-[-50%] translate-y-[-50%] absolute top-[50%] ">PLEASE PROVIDE YOUR NAME</h1>
<%} else if(email==="") {%>
  <h1 class="text-white w-[50%] text-center left-[50%] translate-x-[-50%] translate-y-[-50%] absolute top-[50%] ">PLEASE PROVIDE YOUR EMAIL</h1>
  <%} else if(message==="") {%>
    <h1 class="text-white w-[50%] text-center left-[50%] translate-x-[-50%] translate-y-[-50%] absolute top-[50%] ">PLEASE MENTION YOUR MESSAGE</h1>
    <%} else if(name==="" && email==="") {%>
      <h1 class="text-white w-[50%] text-center left-[50%] translate-x-[-50%] translate-y-[-50%] absolute top-[50%] ">PLEASE MENTION YOUR NAME WITH AN EMAIL</h1>
      <%} else if(message==="" && name==="") {%>
        <h1 class="text-white w-[50%] text-center left-[50%] translate-x-[-50%] translate-y-[-50%] absolute top-[50%] ">PLEASE MENTION YOUR MESSAGE WITH YOUR NAME</h1>
        <%} else if(message==="" && email==="") {%>
          <h1 class="text-white w-[50%] text-center left-[50%] translate-x-[-50%] translate-y-[-50%] absolute top-[50%] ">PLEASE MENTION YOUR MESSAGE WITH YOUR EMAIL</h1>
          <%} else {%>
<h1 class="text-white w-[50%] text-center left-[50%] translate-x-[-50%] translate-y-[-50%] absolute top-[50%] ">HEY <%=name%> with email of  <%=email%> and your message "<%=message%>" has been delivered to DesignHub. We Will Send You an early Reply. </h1>
<%}%>

<img class="absolute bottom-[-10%] translate-x-[-50%] left-[50%]" src="https://png.pngtree.com/png-vector/20231018/ourmid/pngtree-smile-face-emoji-png-image_10203761.png" alt="">
</div>
</div>











  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/javascripts/script.js"></script>
</body>
</html>